<div class="create">
<h1>Add an item - <a href="#/grinch"><button type="button" name="button" class="buttontwo">Go to List</button></a></h1>
<input type="text" name="cover" ng-model="newItem.cover" placeholder="Image" value="">
<input type="text" name="title" ng-model="newItem.title" placeholder="Name" value="">
<input type="text" ng-model="newItem.description" name="description" placeholder="Description" value="">
<input type="text" ng-model="newItem.price" name="price" placeholder="Price" value="">
<a href="#/grinch"><button type="button" ng-click="addItem(newItem)" name="button">Submit</button></a>

</div>
